.element {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    max-height: 70pt;
    padding-bottom: 10pt;
    align-items: center;
    width: 100vw;
}

.element-button {
    display: flex;
    margin-right: 10px;
    color: inherit;
}

.element-label {
}