.go-colorful-button {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    outline: 0;
    cursor: pointer;
    position: relative;
    padding: 13px 50px 13px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 15px;
}

.go-colorful-button:after {
    content: "pss.. more color?";
    background-color: #8e59ff;
    color: #ffbc99;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
    transition: 200ms ease-in-out;
}

.off:after {
    content: "switch :("
}

.go-colorful-button:hover:after {
    top: 7px;
    left: 7px;
    content: "yes pls :^)";
    background-color: #ff6a55;
    color: yellow;
    font-size: 38px;
}

.off:hover:after {
    content: ":'(";
    top: 0;
    left: 0;
    background-color: #919191;
    color: #f7f7fc;
    font-size: 20px;
}