.dropdown {
    position: relative;
    display: inline-block;
    height: 50%;
}

.drop-button {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
    color: #3f3f3f;
    font-weight: bold;
    padding: 16px;
    font-size: 24px;
    width: 95%;
    border: 3px solid #ffbc99;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.drop-button:hover {
    background-color: #ffbc99;
    color: #f7f7fc;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    border-radius: 10px;
}

.dropdown-content div {
    color: #3f3f3f;
    padding: 12px 16px;
    display: block;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.dropdown-content div:hover {
    background-color: #ff6a55;
    color: #f7f7fc;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #ffbc99;
    color: #f7f7fc;
}