.element {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-size-small);
    min-height: 15px;
    max-height: 100px;
    padding: 20px 20px;
    align-items: center;
    background-color: var(--light-font);
    border: var(--border);
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset, rgba(50, 50, 93, 0.15) 0 50px 100px -20px, rgba(0, 0, 0, 0.2) 0 20px 50px -20px;
}

.element-button {
    display: flex;
    margin-right: 10px;
    color: inherit;
}

.element-button:hover {
    font-size: 32px;
    transition: font-size 200ms ease-in;
}

.element-label {
    min-width: 20vw;
    max-width: 50vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}