.styling-tool {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    background: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.05) 0 8px 32px;
    border: var(--border);
    color: var(--bright-font);
    font-size: 2em;
    padding-top: 3vh;
    transition: width 1s;
    z-index: 2;
    margin: 10px 10px;
    border-radius: 15px;
}

.open-button {
    display: inline;
    width: 70px;
    text-align: center;
}

.close-button {
    display: inline;
    text-align: right;
    padding-right: 15px;
}

.close-button:hover {
    padding-left: 5vw;
}