.file-selector {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    margin: 10px 10px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    color: #3f3f3f;
}

.select-file-head {
    font-weight: bold;
    width: 100%;
    margin-left: 10px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 3px solid #ffbc99;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: color 200ms ease-out, background-color 200ms ease-out;
}

.custom-file-upload:hover {
    background-color: #ffbc99;
    color: #f7f7fc;
}