.file-selector {
    display: flex;
    flex-direction: row;
    font-size: var(--font-size);
    margin: 10px 10px;
    justify-content: space-between;
    align-items: center;
    border-top: var(--border);
    padding-top: 20px;
    color: var(--black-font);
}

.select-file-head {
    font-weight: bold;
    width: 100%;
    margin-left: 10px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    border: var(--peach-border);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: color 200ms ease-out, background-color 200ms ease-out;
}

.custom-file-upload:hover {
    background-color: var(--background-focused);
    color: var(--light-font);
}