.variation-block {
    display: flex;
    flex-direction: row;
    font-size: var(--font-size);
    margin: 10px 10px;
    justify-content: space-between;
    align-items: center;
    border-top: var(--border);
    padding-top: 20px;
    color: var(--black-font);
}

.dropdown {
    border: var(--peach-border);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: color 200ms ease-out, background-color 200ms ease-out;
}

.drop-button {
    font-family: 'Montserrat', sans-serif;
    background-color: inherit;
    color: var(--black-font);
    font-size: var(--font-size);
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
}

.drop-button:hover {
    font-family: 'Montserrat', sans-serif;
    color: var(--black-font);
    font-size: var(--font-size);
    width: 95%;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    transition: all 300ms ease-in-out;
}

.drop-headline {
    font-weight: bold;
    width: 100%;
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content div {
    color: var(--black-font);
    padding: 12px 16px;
    font-size: var(--font-size-small);
    text-align: center;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

.dropdown-content div:hover {
    background-color: var(--background-focused);
    color: var(--light-font);
}

.dropdown:hover .dropdown-content {
    display: block;
    color: var(--light-font);
}

.dropdown:hover .drop-button {
    display: none;
}