.styling-input {
    display: flex;
    max-height: 50%;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    margin: 10px 10px;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    color: #3f3f3f;
}

.headline {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 10px;
}

.styling-input .input {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    min-height: 200px;
    resize: vertical;
    margin: 10px 10px;
    padding: 10px 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.styling-input .input:focus {
    outline: none !important;
    border: 3px solid rgba(0, 0, 0, 0.35);
}

.styling-button {
    text-align: center;
    border: 3px solid #ffbc99;
    border-radius: 15px;
    padding: 6px;
}

.styling-button:hover {
    background-color: #ffbc99;
    color: #f7f7fc;
}